.ICEauthority
.Xauthority
.Xsession
.autotest
.bash_history
.bash_logout
.cache/
.cheat/
.config/Thunar/
.config/gtk-2.0/
.config/tracker/
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus/
.dmrc
.esd_auth
.fehbg
.fehrc
.fontconfig/
.gconf/
.gconfd/
.gem/
.gemrc
.gimp-2.4/
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.ies4linux/
.kde/
.local/
.macromedia/
.mcop/
.mcoprc
.metacity/
.mozilla/
.mysql_history
.mysqlgui/
.nautilus/
.nbi/
.netbeans/
.openoffice.org2/
.pgadmin3
.pulse-cookie
.pulse/
.rdebug_hist
.recently-used
.recently-used.xbel
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.tmp/
.update-manager-core/
.viminfo
.vimprojects
.xine/
.xinitrc
.xsession-errors
Code/
Desktop/
Examples
bin/
glassfish-v3tp2/
netbeans-6.5m1/
pgadmin.log
wicked/

